@import '../styles/global.scss';
.About {
    margin-top: 5rem;
    
    .Wrapper {
      background-color:white;
        padding-bottom: 13rem;
        background-image: url('/Union.webp');
        background-repeat: no-repeat;
        background-position: center bottom;

        .AboutText {
            text-align: center;
            max-width: 1366px;
            margin: 0 auto;
            position: relative;
            h1 {
                font-family: $ChakraFont;
                font-weight: $timerWeight;
                font-size: $mediumTitleFont40px;
                color: $lightBlack;
                line-height: $largeHeight52px;
                margin-bottom: 1rem;
            }
            p {
                font-family: $Poppins;
                font-weight: $lightWeight;
                font-size: $mediumFont16px;
                line-height: $bannerTextWeight;
               
            }

        }
    }

}

@media only screen and (max-width:1024px ) {
    .About {
      .Wrapper{
          
          .AboutText {

            
            img {
          
               transform: translate(-50%, -35%);
            
            }
        }
      }
     
    }
    }

    @media only screen and (max-width:900px ) {
        .About {
          .Wrapper{
              .AboutText {
                img {
               
                    transform: translate(-50%, -15%);
                 
                 }
            }
          }
         
        }
        }


@media only screen and (max-width:650px ) {
  .About {
    .Wrapper{
        .AboutText {
            width: 90%;
            text-align: left;

            h1 {
              font-size: $mediumTitleFont32px;
              color: $lightBlack;
              line-height: $lineHeight40px;
              margin-bottom: 1rem;
          }
          p {
              font-family: $Poppins;
              font-weight: $lightWeight;
              font-size: $mediumFont16px;
              line-height: $bannerTextWeight;
             
          }
            img {
               display: none;
             }
        }
    }
   
  }
  }


  
@media only screen and (max-width:650px ) {
    .About {
      .Wrapper{
        background-image: none;
          .AboutText {
              width: 90%;
              text-align: left;
          }
      }
     
    }
    }