@import "../styles/global.scss";

.CountDownContent {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  .CountDown {
    display: flex;
    flex-direction: column;

    .Title {
      font-weight: $timerWeight;
      font-family: $ChakraFont;
      font-size: $largeFont;
      line-height: $bigHeight;
      margin-bottom: 2rem;
      color: $white;
      line-height: $bannerTitleWeight;
      text-shadow: 0px 0px 0px #1485c5, 3px 0px 0px #ee1c4e;
    }
    .timerBox {
      display: flex;
      justify-content: space-between;
      width: 76%;
      margin: 0 auto;
      .timer {
        color: $white;
        font-family: $ChakraFont;
        display: flex;
        flex-direction: column;
        width: 23%;

        p {
          margin-bottom: 1.5rem;
          font-weight: $timerWeight;
          font-size: $mediumFont;
          font-family: $ChakraFont;
        }
        time {
          font-weight: $timerWeight;
          border: 1px solid #ffffff;
          font-size: $timerFont;
          background-color: $black;
          padding: 2.5vw 0vw;
          font-family: $ChakraFont;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .CountDownContent {
    width: 60%;
    // .CountDown {
    //   .Title {
    //     font-size: $mediumTitleFont;
    //   }
    //   .timerBox {
    //     .timer {
    //       time {
    //         font-size: $fontLarge;
    //       }
    //     }
    //   }
    // }
  }
}

@media only screen and (max-width: 760px) {
  .CountDownContent {
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .CountDownContent {
    width: 90%;

    margin-top: 3rem;
    .CountDown {
      .Title {
        font-size: $mediumTitleFont32px;
        line-height: $lineHeight40px;
      }
      .timerBox {
        width: 100%;
        .timer {
          p {
            margin-bottom: 1.5rem;
            font-weight: $timerWeight;
            font-size: $mediumFont;
            font-family: $ChakraFont;
          }
          time {
            font-size: $mediumTitleFont32px;
            line-height: $lineHeight40px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 370px) {
  .CountDownContent {
    .CountDown {
      .timerBox {
        .timer {
          width: 21%;

          time {
            font-size: $mediumTitleFont24px;
          }
        }
      }
    }
  }
}
