@import "../styles/global.scss";
.CountDownContent {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  .CountDown {
    display: flex;
    justify-content: space-between;

    .timer {
      color: $white;
      font-family: $ChakraFont;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 23%;

      p {
        margin-bottom: 1.5rem;
        font-weight: $timerWeight;
        font-size: $mediumFont;
        font-family: $ChakraFont;
      }
      time {
        font-weight: $timerWeight;
        border: 1px solid #ffffff;
        font-size: $timerFont;
        background-color: $black;
        padding: 2.5vw 0vw;
        font-family: $ChakraFont;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .CountDownContent {
    // width: 40%;
    .CountDown {
      .timer {
        width: 20%;
        p {
          margin-bottom: 1rem;
          font-size: $smallFont;
        }
        time {
          font-weight: $timerWeight;
          font-size: $mediumTitleFont32px;
          background-color: $black;
          padding: 2rem 0.5rem;
          font-family: $ChakraFont;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .CountDownContent {
    width: 55%;
    .CountDown {
      .timer {
        p {
          margin-bottom: 1rem;
          font-size: $smallFont;
        }
        time {
          font-weight: $timerWeight;
          font-size: $mediumTitleFont32px;
          background-color: $black;
          padding: 3rem 2rem;
          font-family: $ChakraFont;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .CountDownContent {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .CountDownContent {
    width: 90%;
    .CountDown {
      .timer {
        p {
          margin-bottom: 1rem;
          font-size: $smallFont;
        }
        time {
          font-weight: $timerWeight;
          font-size: $mediumTitleFont32px;
          background-color: $black;
          font-family: $ChakraFont;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .CountDownContent {
    width: 85%;
    .CountDown {
      .timer {
        time {
          padding: 2rem 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 330px) {
  .CountDownContent {
    width: 85%;
    .CountDown {
      .timer {
        p {
          font-size: $verySmallFont;
        }

        time {
          padding: 1rem 0.5rem;
        }
      }
    }
  }
}
