@import "../styles/global.scss";
.ExchangeForm {
  position: relative;
  .corner {
    position: absolute;
    bottom: 0;
  }
  .cornerMobile {
    display: none;
  }
  background-color: $darkWhite;
  .Wrapper {
    position: relative;
    .webImg {
      width: 65%;
      transform: translate(25%, 0%);
      position: absolute;
    }
    .FormBox {
      padding: 5rem;
      width: 60%;
      margin: 0 auto;
      .form {
        position: relative;
        padding: 3rem 0;
        margin-left: auto;
        margin-right: 0;
        width: 40%;
        h2 {
          font-family: $ChakraFont;
          font-size: $fontLarge;
          line-height: $largeHeight52px;
          font-weight: $timerWeight;
          color: $lightBlack;
        }
        .Balance {
          font-family: $ChakraFont;
          font-size: $mediumFont;
          line-height: $verySmallHeight;
          font-weight: $timerWeight;
          color: $lightBlack;
          display: flex;
          h3 {
            font-weight: $lightWeight;
            img {
              padding: 0 0.6rem;
            }
          }
        }

        input {
          width: 100%;
          background: $white;
          border: $inputBorder;
          box-sizing: border-box;
          padding: 1rem;
          text-align: center;
          &::placeholder {
            color: $lessBlack;
            opacity: 0.5;
          }
        }

        h4 {
          display: flex;
          padding: 1rem 0;
          font-family: $Poppins;
          font-weight: $lightWeight;
          font-size: $mediumFont;
          line-height: $bannerTextWeight;
          color: $lessBlack;
          align-items: center;
          p {
            padding: 0 0.7rem;
            font-family: $ChakraFont;
            font-size: $mediumFont;
            line-height: $verySmallHeight;
            font-weight: $timerWeight;
            color: $lightBlack;
          }
        }
        button {
          margin-top: 2rem;
          background-color: $pinkyRed;
          color: $white;
          border: none;
          padding: 1rem;
          width: 100%;
          text-transform: uppercase;
          margin-bottom: 2rem;
        }

        p {
          font-family: $Poppins;
          font-size: $mediumFont16px;
          line-height: $verySmallHeight;
          font-weight: $verylightWeight;
          color: $lessBlack;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .ExchangeForm {
    padding-top: 80vw;
    .corner {
      display: none;
    }
    .cornerMobile {
      display: block;
      position: absolute;
      bottom: 0;
    }
    .Wrapper {
      .webImg {
        display: none;
      }
      .FormBox {
        padding: 0;

        .form {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .ExchangeForm {
    padding-top: 85vw;
  }
}
