@import "../styles/global.scss";
.Footer {
  text-align: center;
  background-color: $darkWhite;
  position: relative;
  .corner {
    position: absolute;
    top: -1%;
    right: 0;
  }
  .cornerMobile {
    display: none;
  }
  .Wrapper {
    padding-top: 10rem;
    background: url("/footerBg.webp");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      width: 40%;
      margin: 0 auto;
      font-family: $ChakraFont;
      font-weight: $timerWeight;
      text-shadow: -2px 0px 0px #1485c5, 3px 0px 0px #ee1c4e;
      font-size: $bannerTitle;
      line-height: $verylargeHeight76px;
      color: $white;
      margin-bottom: 2rem;
    }

    .Form {
      width: 50%;
      margin: 0 auto;
    }

    h2 {
      font-family: $ChakraFont;
      font-weight: $timerWeight;
      font-size: $smallFont14px;
      line-height: $verySmallHeight;
      color: $white;
      margin-top: 5rem;
      text-transform: uppercase;
    }

    .Socials {
      display: flex;
      margin: 2rem auto;
      width: 8%;
      justify-content: space-between;
    }
    p {
      width: 40%;
      margin: 0 auto;
      font-family: $ChakraFont;
      font-size: $smallFont14px;
      color: $white;
      font-weight: 300;
      line-height: $verySmallHeight;
      padding: 5rem 0;
    }
  }
}

@media only screen and (max-width: 650px) {
  .Footer {
    .corner {
      display: none;
    }
    .cornerMobile {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    .Wrapper {
      h1 {
        width: 90%;
        font-size: $mediumTitleFont32px;
        line-height: $lineHeight40px;
      }

      .Form {
        width: 90%;
      }

      .Socials {
        width: 30%;
      }
      p {
        width: 90%;
        padding: 3rem 0;
      }
    }
  }
}
