//FONTS
$timerFont: 6.25vw;
$largeFont100px: 5.2vw;
$largeFont: 4.1vw;
$bannerTitle: 3.3vw;
$mediumTitleFont: 2.6vw;
$mediumTitleFont40px: 4rem;
$fontLarge: 3.4rem;
$mediumTitleFont32px2: 1.66vw;
$mediumTitleFont32px: 3.2rem;
$mediumTitleFont26px: 2.6rem;
$mediumTitleFont24px: 2.4rem;
$mediumTitleFont20px: 2rem;
$mediumFont16px2: 0.8333vw;
$mediumFont16px: 1.6rem;
$smallFont14px: 1.4rem;
$smallFont14px2: 0.729vw;
$mediumFont: 1.3rem;
$smallFont: 1.2rem;
$verySmallFont: 1rem;
//COLORS
$white: #ffffff;
$black: #151515;
$lessBlack: #6c6c6c;
$grey: #f3f2f0;
$lightBlack: #4b4b64;
$lightGrey: #585858;
$pinkyRed: #ee1c4f;
$darkWhite: #f3f2f0;
$darkerWhite: (180deg, #f3f2f0 0%, rgba(243, 242, 240, 0) 93.86%);
$whiteWithOpacity: rgba(255, 255, 255, 0.9);
//FONT WEIGHT
$timerWeight: 700;
$lightWeight: 400;
$verylightWeight: 300;
// FONT FAMILY
$ChakraFont: "Chakra Petch", sans-serif;
$Poppins: "Poppins", sans-serif;
//FONT HEIGHTS
$veryBigHeight: 8.125vw;
$lineHeight130px: 6.77vw;
$bigHeight: 6.25vw;
$verylargeHeight76px: 3.95vw;
$verylargeHeight: 3.85vw;
$largeHeight: 54px;
$largeHeight52px: 52px;
$bannerTitleWeight: 46px;
$lineHeight40px: 40px;
$bannerTextWeight2: 1.25vw;
$bannerTextWeight38px: 38px;
$bannerTextWeight26px: 26px;
$bannerTextWeight: 24px;
$bannerTextMediumWeight: 1.97vw;
$verySmallHeight: 18.2px;
$verySmallHeight15px: 15.6px;
//BORDER
$inputBorder: 1px solid #bac1d0;
