.HeroBanner {
  background: url("/bg-image.webp");
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: inset 0 60px 150px 0 #282a2d;
  padding-bottom: 5vw;
}

@media only screen and (max-width: 650px) {
  .HeroBanner {
    padding-bottom: 0vw;
  }
}
