.HeroBanner {
  background: url("/bg-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  box-shadow: inset 0 60px 150px 0 #282a2d;
  position: relative;
  .corner {
    position: absolute;
    bottom: 0;
  }
  .cornerMobile {
    display: none;
  }
}

@media only screen and (max-width: 1300px) {
  .HeroBanner {
    height: auto;
  }
}

@media only screen and (max-width: 650px) {
  .HeroBanner {
    .corner {
      display: none;
    }
    .cornerMobile {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
