@import "../styles/global.scss";
.HeroBanner {
  background: url("/3stage-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 60px 150px 0 #282a2d;
  position: relative;

  .corner {
    position: absolute;
    bottom: 0;
  }
  .cornerMobile {
    display: none;
  }

  .Wrapper {
    .contentBox {
      margin: 0 auto;
      width: 60%;
      display: flex;
      padding-top: 3.5vw;
      padding-bottom: 2vw;
      .LeftSide {
        display: inline-flex;
        flex-direction: column;
        margin-top: 4vw;
        margin-right: 10%;
        //Claim tokens

        .ClaimTokens {
          width: 100%;

          h2 {
            text-align: center;
            font-size: $mediumTitleFont40px;
            color: $white;
            font-family: $ChakraFont;
            font-weight: $timerWeight;
            line-height: $largeHeight52px;
            text-shadow: -2px 0px 0px #1485c5, 3px 0px 0px #ee1c4e;
          }
          form {
            border: 1px solid #8b8aa6;
            background-color: $white;
            .FormWrapper {
              padding: 4.5%;
              margin: 0.4rem;
              border: 1px solid #8b8aa6;
              h3 {
                font-size: $smallFont14px;
                color: $lightBlack;
                font-family: $ChakraFont;
                font-weight: $timerWeight;
                line-height: $verySmallHeight;
                margin-bottom: 3%;
              }
              .TopForm {
                margin-top: 2%;
                display: flex;
                .tokenBalance {
                  width: 50%;
                  font-size: $mediumTitleFont40px;
                  color: $lightBlack;
                  font-family: $ChakraFont;
                  font-weight: $lightWeight;
                  line-height: $largeHeight52px;
                  div {
                    display: flex;
                    align-items: center;
                    img {
                      display: inline-block;
                      margin-right: 1rem;
                    }
                    p {
                      display: inline-block;
                      padding-right: 5rem;
                    }
                  }
                }
              }
              .ClaimLine {
                width: 100%;
              }
              .MiddleForm {
                margin-top: 3%;
                display: flex;

                .LymTokens {
                  width: 50%;
                  display: flex;
                  align-items: center;
                  img {
                    max-width: 60%;
                    max-height: 60%;
                    margin-right: 3%;
                  }

                  div {
                    h4 {
                      font-size: $mediumTitleFont20px;
                      color: $lightBlack;
                      font-family: $ChakraFont;
                      font-weight: $timerWeight;
                      line-height: $bannerTextWeight26px;
                    }
                    p {
                      font-size: $smallFont14px;
                      color: $lightBlack;
                      font-family: $ChakraFont;
                      font-weight: $lightWeight;
                      line-height: $verySmallHeight;
                    }
                  }
                }
                .LmtTokens {
                  width: 50%;
                  display: flex;
                  align-items: center;
                  img {
                    max-width: 60%;
                    max-height: 60%;
                    margin-right: 3%;
                  }

                  div {
                    h4 {
                      font-size: $mediumTitleFont20px;
                      color: $lightBlack;
                      font-family: $ChakraFont;
                      font-weight: $timerWeight;
                      line-height: $bannerTextWeight26px;
                    }

                    .Remaining {
                      display: flex;
                      align-items: flex-start;
                      margin-top: 0.5rem;
                      span {
                        font-size: $smallFont14px;
                        color: $lightBlack;
                        font-family: $ChakraFont;
                        font-weight: $lightWeight;
                        line-height: $verySmallHeight;
                      }
                    }
                  }
                }
              }

              button {
                margin-top: 2rem;
                background-color: $pinkyRed;
                color: $white;
                border: none;
                padding: 1rem;
                width: 100%;
                margin-bottom: 2rem;
                p {
                  font-weight: $timerWeight;
                  line-height: $verySmallHeight;
                  font-size: $smallFont14px;
                  color: $white;
                  font-family: $ChakraFont;
                }
                .lmtBtn {
                  font-weight: $timerWeight;
                  line-height: $bannerTextWeight26px;
                  font-size: $mediumTitleFont20px;
                  color: $white;
                  font-family: $ChakraFont;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    margin-right: 1%;
                  }
                }
              }
            }
          }
        }

        .Top {
          width: 90%;
          h1 {
            font-size: $largeFont100px;
            color: $white;
            text-shadow: -2px 0px 0px #1485c5, 3px 0px 0px #ee1c4e;
            line-height: $lineHeight130px;
            font-weight: $timerWeight;
          }
          p {
            color: $Poppins;
            font-weight: $lightWeight;
            color: $white;
            font-size: $mediumFont16px;
            line-height: $bannerTextWeight;
            margin-bottom: 1vw;
          }
          button {
            font-weight: $timerWeight;
            line-height: $verySmallHeight;
            font-size: $smallFont14px;
            color: $white;
            font-family: $ChakraFont;
            background-color: $pinkyRed;
            color: $white;
            border: none;
            padding: 1.5%;
            width: 50%;
            text-transform: uppercase;
            img {
              margin-right: 0.4vw;
              vertical-align: middle;
            }
          }
        }
        .Bottom {
          margin-top: auto;
          width: 100%;
          img {
            max-width: 100%;
          }
          h2 {
            font-size: $mediumTitleFont20px;
            color: $white;
            line-height: $bannerTextWeight26px;
            font-family: $ChakraFont;
          }
          .Tokens {
            display: flex;
            width: 100%;
            h3 {
              font-family: $ChakraFont;
              font-size: $mediumTitleFont32px2;
              line-height: $bannerTextWeight38px;
              font-weight: $timerWeight;
              color: $white;
              padding-right: 2vw;
              display: inline-block;
              white-space: nowrap;
              img {
                vertical-align: middle;
                margin-right: 0.3vw;
              }
            }
          }
        }
      }

      .RightSide {
        video {
          width: 29.5vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .HeroBanner {
    .Wrapper {
      .contentBox {
        .LeftSide {
          margin-right: 2%;
          .Top {
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1130px) {
  .HeroBanner {
    .Wrapper {
      .contentBox {
        width: 80%;
        .LeftSide {
          width: 80%;
          margin-right: 2%;
          .Top {
            button {
              width: 100%;
            }
          }
        }
        .RightSide {
          margin-top: 8vw;

          video {
            width: 24.5vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .HeroBanner {
    background: url("/3stage-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 60px 150px 0 #282a2d;
    position: relative;

    .corner {
      position: absolute;
      bottom: 0;
    }
    .cornerMobile {
      display: none;
    }

    .Wrapper {
      .contentBox {
        width: 80%;
        .LeftSide {
          .Top {
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .HeroBanner {
    .Wrapper {
      .contentBox {
        width: 80%;
        .LeftSide {
          width: 80%;
          margin-right: 1%;
        }
        .RightSide {
          margin-top: 11vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .HeroBanner {
    padding-bottom: 40vw;
    .corner {
      display: none;
    }
    .cornerMobile {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .Wrapper {
      .contentBox {
        width: 90%;
        flex-direction: column;
        .LeftSide {
          width: 100%;
          .ClaimTokens {
            width: 100%;
            h2 {
              text-align: left;
            }
            form {
              .FormWrapper {
                .TopForm {
                  flex-direction: column;
                  .tokenBalance {
                    width: 100%;
                    div {
                      margin-bottom: 3%;
                    }
                  }
                }

                .MiddleForm {
                  flex-direction: column;
                  div {
                    margin-bottom: 3%;
                  }
                  .LymTokens {
                    width: 100%;
                  }
                }
              }
            }
          }

          .Top {
            width: 100%;
            h1 {
              font-size: $mediumTitleFont32px;
            }
            p {
            }
            button {
              width: 100%;
            }
          }
          .Bottom {
            padding-top: 2vw;

            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            .line {
              display: none;
            }
            h2 {
              font-size: $smallFont;
            }
            .Tokens {
              flex-direction: column;
              h3 {
                font-size: $mediumFont16px;
              }
            }
          }
        }

        .RightSide {
          position: relative;
          video {
            position: absolute;
            z-index: 999;
            transform: translate(-50%, -5%);
            left: 50%;
            top: 0;
            width: 45vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .HeroBanner {
    padding-bottom: 50vw;
    .corner {
      display: none;
    }
    .cornerMobile {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .Wrapper {
      .contentBox {
        .RightSide {
          top: 72%;
          video {
            width: 45vw;
          }
        }
      }
    }
  }
}
