@import "../styles/global.scss";
.LMT {
  position: relative;
  .cornerMobile {
    display: none;
  }
  .cornerMobile2 {
    display: none;
  }
  .corner {
    position: absolute;
    top: 0;
    right: 0;
  }
  .TestBox {
    background-color: $darkWhite;
    padding-bottom: 12rem;
    width: 100%;
    .LMTBox {
      max-width: 1366px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      .LMTRight {
        .mobileImg {
          display: none;
        }
        h1 {
          font-family: $ChakraFont;
          font-weight: $timerWeight;
          font-size: $bannerTitle;
          color: $lightBlack;
          line-height: $verylargeHeight76px;
          margin-bottom: 1.5rem;
        }
        p {
          font-family: $Poppins;
          font-weight: $lightWeight;
          font-size: $mediumFont16px;
          line-height: $bannerTextWeight;
          color: $lessBlack;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .LMT {
    .LMTBox {
      flex-direction: column;
      .LMTRight {
        padding: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .LMT {
    position: relative;
    .cornerMobile {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    .cornerMobile2 {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }

    .corner {
      display: none;
    }
    .TestBox {
      .LMTBox {
        width: 90%;

        .LMTLeft {
          display: none;
        }
        .LMTRight {
          .mobileImg {
            display: block;
            width: 150px;
            margin: 0 auto;
          }
          h1 {
            text-align: center;
            font-size: $mediumTitleFont32px;
            line-height: $lineHeight40px;
          }

          p {
            font-family: $Poppins;
            font-weight: $lightWeight;
            font-size: $mediumFont16px;
            line-height: $bannerTextWeight;
            color: $lessBlack;
          }
        }
      }
    }
  }
}
