@import '../styles/global.scss';
.Navigation {
    width: 60%;
    margin: 0 auto;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    .LogoBox{
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            width: 120px;
        }
    }

    .Social {
        display: flex;
        align-items: center;
        a {
            margin-left: 2rem;
           
        }
    }
  
}
@media only screen and (max-width:1200px ) {
    
    .Navigation {
        width: 75%;
    }
  }

@media only screen and (max-width:650px ) {
    
    .Navigation {
        width: 95%;
    }
  }