@import "../styles/global.scss";
.Sport {
  background: url("/grahics.webp"),
    linear-gradient(102.39deg, #69011a 0%, #001f3d 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 7rem;
  position: relative;
  .corner {
    position: absolute;
    top: -1%;
    left: 0;
  }
  .corner2 {
    position: absolute;
    bottom: -1%;
    right: 0;
  }
  .cornerMobile {
    display: none;
  }
  .cornerMobile2 {
    display: none;
  }
  .SportBox {
    position: relative;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    padding-bottom: 8rem;
    .SportImages {
      display: flex;
      width: 100%;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);

      #mma {
        position: absolute;
        top: 0%;
        right: 58%;
        z-index: 2;
      }
      .basketball {
        margin: 0 auto;
        z-index: 1;
      }
      .football {
        position: absolute;
        top: -10%;
        left: 58%;
        z-index: 0;
      }
    }

    .MobileCards {
      display: none;
    }
  }
}

@media only screen and (min-width: 650px) {
  .Sport {
    .SportBox {
      .Form {
        border: 1px solid #ede234;
        margin-top: 10rem;

        .formWrapper {
          border: 1px solid #ede234;
          margin: 0.2vw;

          h4 {
            padding-top: 22vw;
            width: 70%;
            margin: 0 auto;
            font-family: $ChakraFont;
            font-weight: $timerWeight;
            text-shadow: -2px 0px 0px #1485c5, 3px 0px 0px #ee1c4e;
            font-size: $bannerTitle;
            line-height: $verylargeHeight76px;
            color: $white;
            margin-bottom: 1.5rem;
          }

          p {
            width: 70%;
            margin: 0 auto;
            font-family: $Poppins;
            font-weight: $lightWeight;
            font-size: $mediumFont16px;
            line-height: $bannerTextWeight;
            color: $white;
            margin-bottom: 1.5rem;
          }
          #form {
            div {
              background-color: transparent;
              max-width: none;
            }

            form {
              div {
                margin: 0 auto;
                width: 90%;
                display: flex;
                padding-bottom: 1vw;
                float: none;
                button {
                  width: 50% !important;
                  margin: 0 auto;
                }
              }
            }
            .Inputs {
              width: 70%;
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              margin-bottom: 1.5rem;
              input {
                width: 48%;
                border: 1px solid #bac1d0;
                box-sizing: border-box;
                margin-bottom: 2rem;
                padding: 1rem;
                &::placeholder {
                  color: $lessBlack;
                  opacity: 0.5;
                  font-size: $mediumFont16px;
                  line-height: $bannerTextWeight;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1380px) {
  .Sport {
    .SportBox {
      .Form {
        .formWrapper {
          h4 {
            padding-top: 27vw;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1180px) {
  .Sport {
    .SportBox {
      .Form {
        .formWrapper {
          h4 {
            padding-top: 34vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .Sport {
    .SportBox {
      width: 80%;
      .Form {
        .formWrapper {
          h4 {
            padding-top: 26vw;
          }
        }
      }
      img {
        width: 33vw;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .Sport {
    .corner {
      display: none;
    }
    .corner2 {
      display: none;
    }
    .cornerMobile {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    .cornerMobile2 {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    padding-top: 1rem;
    .SportBox {
      width: 90%;
      .SportImages {
        display: none;
      }
      img {
        width: 200px;
      }
      .Form {
        border: none;

        .formWrapper {
          border: none;

          h4 {
            padding-top: 26vw;
            width: 90%;
            margin: 0 auto;
            font-family: $ChakraFont;
            font-weight: $timerWeight;
            text-shadow: -2px 0px 0px #1485c5, 3px 0px 0px #ee1c4e;
            font-size: $mediumTitleFont32px;
            line-height: $lineHeight40px;
            color: $white;
            margin-bottom: 1.5rem;
          }

          p {
            width: 90%;
            margin: 0 auto;
            font-family: $Poppins;
            font-weight: $lightWeight;
            font-size: $mediumFont16px;
            line-height: $bannerTextWeight;
            color: $white;
            margin-bottom: 1.5rem;
          }
          #form {
            div {
              background-color: transparent;
              max-width: none;
            }

            .Inputs {
              width: 70%;
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              margin-bottom: 1.5rem;
              input {
                width: 48%;
                border: 1px solid #bac1d0;
                box-sizing: border-box;
                margin-bottom: 2rem;
                padding: 1rem;
                &::placeholder {
                  color: $lessBlack;
                  opacity: 0.5;
                  font-size: $mediumFont16px;
                  line-height: $bannerTextWeight;
                }
              }
            }
          }
        }
      }
      .MobileCards {
        padding-top: 5rem;
        display: block;
        position: relative;
        .frame {
          width: 280px;
        }
        .mmaMobile {
          position: absolute;
          left: 42%;
          top: -15%;
          z-index: 1;
          width: 200px;
        }
        .basketballMobile {
          position: absolute;
          right: 42%;
          top: 20%;
          z-index: 2;
          width: 200px;
        }
        .footballMobile {
          position: absolute;
          left: 32%;
          top: 58%;
          z-index: 3;
          width: 200px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .Sport {
    .SportBox {
      .SportImages {
      }
      img {
        width: 160px;
      }
      .MobileCards {
        .frame {
          width: 260px;
        }
        .mmaMobile {
          position: absolute;
          left: 32%;
          top: -15%;
        }
        .basketballMobile {
          position: absolute;
          right: 32%;
          top: 20%;
          z-index: 2;
          width: 200px;
        }
        .footballMobile {
          position: absolute;
          left: 22%;
          top: 58%;
          z-index: 3;
          width: 200px;
        }
      }
    }
  }
}
