@import "../styles/global.scss";
.Subscribe {
  margin-top: 3%;
  position: relative;
  padding-bottom: 3%;

  .ExtraBorder {
    z-index: 999;
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 0.5%;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border: 1px solid #ede234;
    }
    .LeftRectangle {
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: 11;
    }
    .RightRectangle {
      display: none;
      position: absolute;

      right: 0%;
      z-index: 11;
    }
    .SubscribeBox {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      margin: 0 auto;
      position: relative;
      justify-content: space-between;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: 2px solid #ede234;
      }

      .TokensSold {
        color: $white;
        padding: 3%;
        width: 51%;
        h2 {
          font-family: $ChakraFont;
          font-size: $fontLarge;
          line-height: $largeHeight52px;
          font-weight: $timerWeight;
        }
        .Dark {
          display: none;
        }
        h3 {
          font-family: $ChakraFont;
          font-size: $bannerTitle;
          line-height: $verylargeHeight76px;
          font-weight: $verylightWeight;
          img {
            vertical-align: middle;
            padding-right: 1%;
          }
        }
      }
      .FormRight {
        position: absolute;
        left: 7%;
        top: 15%;
        z-index: 999;
        video {
          width: 22vw;
        }

        img {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 22vw;
          height: 32vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .Subscribe {
    position: relative;
    .ExtraBorder {
      width: 90%;
      position: absolute;
      top: 2000%;
      left: 5%;
      .LeftRectangle {
        display: none;
      }
      .RightRectangle {
        display: block;
        bottom: -2%;
        z-index: 999;
        img {
          width: 2vw;
        }
      }

      .SubscribeBox {
        .TokensSold {
          z-index: 13;
          background-color: $whiteWithOpacity;
          width: 100%;
          color: $lightBlack;
          padding: 2%;
          h3 {
            font-size: $mediumTitleFont24px;
          }
          .Light {
            display: none;
          }
          .Dark {
            display: block;
          }
        }
        .FormRight {
          top: -70vw;
          left: 25%;
          video {
            width: 45vw;
          }
          img {
            width: 45vw;
            height: auto;
          }
        }
      }
    }
  }
}
