@import "../styles/global.scss";
.Subscribe {
  margin-top: 3vw;
  margin-bottom: 3vw;
  .corner {
    display: none;
  }

  .ExtraBorder {
    border: 1px solid #ede234;
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 0.3vw;
    span {
      position: absolute;
      top: 0%;
      left: 0%;
    }

    .SubscribeBox {
      display: flex;
      width: 100%;
      margin: 0 auto;
      border: 1px solid #ede234;
      position: relative;
      .formContent {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 1vw;
        h4 {
          font-weight: $timerWeight;
          line-height: 38px;
          font-size: $mediumTitleFont32px;
          color: $white;
          font-family: $ChakraFont;
          margin-bottom: 1.5%;
        }
        p {
          font-family: $Poppins;
          font-size: $mediumFont16px;
          font-weight: $lightWeight;
          line-height: $bannerTextWeight;
          color: $white;
          margin-bottom: 1.5%;
        }
        #form {
          width: 60%;

          div {
            text-align: left;
            width: 100%;
            background-color: transparent;
            padding: 0;
            p {
              margin-bottom: 5vw !important;
            }
            form {
              input {
                border: 1px solid #bac1d0;
                box-sizing: border-box;
                margin-bottom: 2%;
                padding: 2%;
                &::placeholder {
                  font-size: $mediumFont16px;
                  font-weight: $lightWeight;
                  line-height: $bannerTextWeight;
                  font-family: $Poppins;
                  color: $lessBlack;
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }

      .videoCard {
        position: absolute;

        left: 40vw;
        top: -10%;
        video {
          width: 320px;
        }
      }
    }
  }

  .videoCardMobile {
    display: none;
  }
  .MobileBox {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .Subscribe {
    .ExtraBorder {
      width: 80%;
      .SubscribeBox {
        form {
          button {
            width: 40%;
          }
        }
        .videoCard {
          top: -5%;
          left: 50vw;
          video {
            width: 29vw;
          }
        }
      }
    }
  }
}

// @media only screen and (max-width: 820px) {
//   .Subscribe {
//     .ExtraBorder {
//       .SubscribeBox {
//         form {
//           button {
//             width: 40%;
//           }
//         }

//         .videoCard {
//           video {
//             width: 220px;
//           }
//         }
//       }
//     }
//   }
// }
@media only screen and (max-width: 650px) {
  .Subscribe {
    width: 100%;
    position: relative;
    padding-bottom: 0rem;
    .corner {
      display: block;
      position: absolute;
      left: 0;
      top: -3%;
    }
    .ExtraBorder {
      border: none;
      span {
        display: none;
      }

      .SubscribeBox {
        display: none;
      }
    }

    .videoCardMobile {
      display: block;
      width: 200px;
      position: absolute;
      left: 25%;
      top: -62%;
      z-index: 999;

      video {
        width: 200px;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
      }
    }

    .MobileBox {
      background-color: #f3f2f0;
      padding-top: 15vw;
      display: block;
      text-align: center;
      h4 {
        font-weight: $timerWeight !important;
        line-height: 38px;
        font-size: $mediumTitleFont32px;
        color: $lightBlack !important;
        font-family: $ChakraFont !important;
        margin-bottom: 1.5%;
        margin-top: 3vw;
      }
      p {
        font-family: $Poppins !important;
        font-size: $mediumFont16px !important;
        font-weight: $lightWeight !important;
        line-height: $bannerTextWeight !important;
        color: $lightBlack !important;
        margin-bottom: 1.5%;
      }
      #formMobile {
        width: 100%;
        div {
          text-align: center;

          background-color: #f3f2f0;

          form {
            padding: 0;

            input {
              border: 1px solid #bac1d0;
              box-sizing: border-box;
              margin-bottom: 2%;
              padding: 2%;
              &::placeholder {
                font-size: $mediumFont16px;
                font-weight: $lightWeight;
                line-height: $bannerTextWeight;
                font-family: $Poppins;
                color: $lessBlack;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .Subscribe {
    .videoCardMobile {
      display: block;
      width: 200px;
      position: absolute;
      left: 25%;
      top: -50%;
      z-index: 999;

      video {
        width: 200px;
      }
    }

    .MobileBox {
      padding-top: 25vw;
    }
  }
}
