@import "../styles/global.scss";
.TextContent {
  width: 45%;
  margin: 0 auto;
  margin-top: 1vw;
  text-align: center;

  h1 {
    font-weight: $timerWeight;
    font-family: $ChakraFont;
    font-size: $bannerTitle;
    color: $white;
    line-height: $verylargeHeight76px;
    text-shadow: 0px 0px 0px #1485c5, 3px 0px 0px #ee1c4e;
  }
  p {
    color: $white;
    font-family: $Poppins;
    font-size: $mediumFont16px;
    line-height: $bannerTextWeight;
    font-weight: $lightWeight;
  }
}

// @media only screen and (max-width:1400px ) {

//     .TextContent {
//         margin-top: 2rem;
//         h1 {
//            font-size:$mediumTitleFont32px;
//            line-height: $lineHeight40px;
//            margin-bottom: 1.5rem;
//         }
//     }
//   }
//   @media only screen and (max-width:1200px ) {

//     .TextContent {
//             width: 60%;
//     }
//   }

@media only screen and (max-width: 1200px) {
  .TextContent {
    width: 60%;
  }
}

@media only screen and (max-width: 650px) {
  .TextContent {
    width: 90%;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 30rem;
    h1 {
      font-size: $mediumTitleFont32px;
      line-height: $lineHeight40px;
      margin-bottom: 1vw;
    }
    p {
      font-size: $mediumFont16px;
    }
  }
}
