@import "../styles/global.scss";
.TextContent {
  width: 45%;
  margin: 0 auto;
  margin-top: 1%;
  text-align: center;

  p {
    color: $white;
    font-family: $Poppins;
    font-size: $mediumFont16px;
    line-height: $bannerTextWeight;
    font-weight: $lightWeight;
    margin-bottom: 1.5%;
  }
  button {
    background-color: $pinkyRed;
    color: $white;
    border: none;
    padding: 1.3%;
    width: 70%;
    font-family: $ChakraFont;
    text-transform: uppercase;
    line-height: $verySmallHeight;
    font-size: $smallFont14px;
    font-weight: $timerWeight;
    img {
      vertical-align: middle;
      margin-right: 1%;
    }
  }
}

@media only screen and (max-width: 650px) {
  .TextContent {
    width: 90%;
    text-align: left;
    margin-bottom: 20%;
    p {
      color: $white;
      font-family: $Poppins;
      font-size: $mediumFont16px;
      line-height: $bannerTextWeight;
      font-weight: $lightWeight;
      margin-bottom: 2%;
    }
    button {
      width: 100%;
    }
  }
}
