@import '../styles/global.scss';
.TokenSales {
    background:url('/grahics.png'),linear-gradient(102.39deg, #69011A 0%, #001F3D 100%);
    
    .Wrapper {
        padding-top: 7rem;
        padding-bottom: 7rem;
        width: 100%;
        background-color: $darkWhite;
    .TokenBox{
        max-width: 1366px;
        margin: 0 auto;
        text-align: center;
        h1 {
            font-family: $ChakraFont;
            font-weight: $timerWeight;
            font-size: $bannerTitle;
            color:$lightBlack;
            line-height: $verylargeHeight76px;
            margin-bottom: 1.5rem;
        }
        p {
            font-family: $Poppins;
            font-weight: $lightWeight;
            font-size: $mediumFont16px;
            line-height: $bannerTextWeight;
            color:$lessBlack;   
        }
        img {
            margin-top: 5rem;
            width:100%;
        }
        .TableMobile {
            display: none;
           
        }
    }
    .LymTokens{
       max-width: 1366px;
        margin: 0 auto;
        text-align: center;
        h1 {
            font-family: $ChakraFont;
            font-weight: $timerWeight;
            font-size: $mediumTitleFont32px;
            color:$lightBlack;
            line-height: $bannerTextMediumWeight;
            margin-bottom: 1.5rem;
        }
        .divBox{
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            a {
                width: 30%;
                margin-bottom: 2rem;
            
            }
        }
    }
}
}


@media only screen and (max-width:1050px ) {
    .TokenSales {

        .Wrapper {
   
            .LymTokens {
     
                .divBox{
                    width: 95%;
               }
            }
        }
  
    }
}

@media only screen and (max-width:650px ) {
    .TokenSales {
         background:url('/grahics.png'),linear-gradient(80.39deg, #69011A 0%, #001F3D 100%);
        .Wrapper {
            .TokenBox{
                text-align: left;
                width: 90%;
                h1 {
                    font-size: $mediumTitleFont32px;
                    line-height: $lineHeight40px;
              
                }
                .PcTable {
                    display: none;
                }
                .TableMobile {
                    display: block;
                    width: 100%;
                }
            }
            .LymTokens {
               
                h1 {
                    line-height: $lineHeight40px;
                }
                .divBox{
                   a {
                       width: 45%;
                       margin-bottom: 2rem;
                       img {
                           width: 80%;
                       }
                   }
               }
            }
        }
  
    }
}