@import "../styles/global.scss";
.VideoSection {
  position: relative;
  height: 25vw;
  iframe {
    width: 100%;
    height: 25vw;
  }
  div {
    position: relative;
    .videoBackground {
      width: 100%;
    }
    .Playbutton {
      width: 5%;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, 50%);
      cursor: pointer;
    }
  }

  .corner {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .cornerMobile {
    display: none;
  }
  .cornerMobile2 {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .VideoSection {
    .corner {
      display: none;
    }
    .cornerMobile {
      display: block;
      position: absolute;
      top: -1%;
      right: 0;
    }
    .cornerMobile2 {
      display: block;
      position: absolute;
      bottom: -1%;
      left: 0;
    }
  }
}
